@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  padding-left: 40px;
    padding-right: 40px;
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}
footer{
  padding-left: 40px;
    padding-right: 40px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

header{

 margin-right:5%;
 margin-left:5%;
 position: relative;
}

 .main_container{

  height:60px;
  background-color: #E8E8E8 ;
  border-radius: 10px;
 
 }
 
.menu li {
 display: inline;
 position: absolute; 
  font-family: helvetica;
}

 .menu a { 
    padding: 19px;
    display: block; 
    text-align: center; 
    height: 100%; 
    color:  #404040 ; 
    width: 100%;
    text-decoration: none;
  }
  #li3{
     right: 43%; 
    }
#li2{
     right: 18%; 
    }
#li1{
      left: 18%; 
    }
a:hover{
background-color: #D8D8D8;
}