<div class="container">
                <div>
                    <center>
                    <img src="uploads/photo.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Denys Burlakov<br/><small>Ukraine</small></h3>
                    <span><strong>{Translation::getLabel('skills')}</strong></span>
                        <span class="label label-warning">HTML/CSS</span>
                        <span class="label label-info">PHP</span>
                        <span class="label label-info">Java</span>
                        <span class="label label-success">Oracle</span>
                        <span class="label label-warning">Python</span>
                        <span class="label label-success">C++</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left">
                        {Translation::getLabel('bio_content')}
                    </p>
                    <br>
                    </center>
                </div>
</div>